p {
    font-size: 16pt;

}

.content-column-content p,
.content-column-content li {
  color: #666666;
}



.copyright p.credit {
  font-size: 10pt;
}

.gdpr p {
    font-size: 12pt;
    font-family: sans-serif;
}

.copyright a{
    color:blue;
}

.sidebar-img {
    display: inline;
    max-width: 200%;
    width: 35px;
}

blockquote {
  background-color: #e4f0f4;
  border-left: 10px solid #2065a1;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: inline;
}

blockquote:before {
    color: #2065a1;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.swal-wide {
    height:100% !important;
    background-size: cover !important;
}


.swal-cancelButton {
    background-image: url("/img/us.gif") !important;
    height: 200px;
    width: 300px !important;
    padding: 0.5em 1em !important;
}

.swal-confirmButton {
    background-image: url("/img/de.gif") !important;
    height: 200px;
    width: 300px !important;
    padding: 0.5em 1em !important;
}

body {
    line-height: 1.4;
}

#bild {
    float:left !important;
    height: 110px;
    width: auto;
    margin-right: 5px;
}

#bildImText {
    align: left !important;
    margin-right: 100% !important;
    margin-bottom: 10px !important;
    border-radius: 30px;
}

#resetAll {
    all: unset;
    display: ruby-text;
    text-align: center;
    height: 60px;
}

#resetAll:hover {
    color: #2065a1;
    cursor: pointer;
}

/*.visible-xs {
    display: block !important;
}*/

@media (min-width:600px) {
    .sidebar-menu li a{
        font-size: 17pt;

    }

    .sidebar-p {
        font-size: 16pt;
    }

    .sidebar-heading {
        font-size: 21pt;
    }

}

@media (min-width:992px) {
    .col-md-3 {
        width: 28%;
    }

    .col-md-9 {
        width: 72%;
    }
}

@media (min-width:1200px) {
    .col-lg-8 {
        width: 76%
    }
}

@media (max-width:1190px){
    #bild {
        margin-right: 400px;
    }
}

@media (max-width:600px) {

    .sidebar-menu li a{
        font-size: 14pt;

    }

    .sidebar-p {
        font-size: 13pt;
    }

    .sidebar-heading {
        font-size: 17pt;
    }
}

@media (max-width:400px) {
    #bild {
        float:left !important;
        height: 90px;
        width: auto;
        margin-right: 400px;
    }
}


#sidebar {
    padding-left: inherit;
    height: 100% !important;
    padding-top: 0px;
    padding-right: 0px;
}

.sidebar-content {
    overflow-y: scroll;
    height: 100%;
    padding-top: 40px;
    width: 100%;
    position: inherit;
}

.row-offcanvas-left.active {
    left: 65%;
}
